/* work sans fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    
font-family: 'Work Sans', sans-serif;
}
.header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: var(--Dark-01, #131313);
    /* text-align: center; */
    /* font-family: Work Sans; */
    font-size: 45px;
    /* font-style: normal; */
    font-weight: 700;
    /* line-height: normal; */
}

.nav > ul{
    display: flex;
    
}
.nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
font-weight: 500;
}
.nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner{
    margin-bottom: 20px;
}
.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0px auto;
   /* margin-bottom: 20px; */
}
.banner-title{
    color: var(--Dark-01, #131313);
text-align: center;
/* font-family: Work Sans; */
font-size: 32px;
/* font-style: normal; */
font-weight: 700;
/* line-height: normal; */
}
.banner-description{
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
background: #FF900E;
width: 180px;
height: 64px;
/* flex-shrink: 0; */
color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 20px;
/* font-style: normal; */
font-weight: 600;
/* line-height: normal; */
/* border-color: #FF900E; */
cursor: pointer;
border: 0px;

}
.header img{
 width: 100%;
}


/* 2nd part-4collide image part */
/* main{
    max-width: 1440px;
    margin: 0 auto;
} */
.collide-images-container{
display: flex;
/* max-width: 1440px;
margin: 0 auto; */
align-items: center;
margin-left: 50px;
margin-top: 40px;
}

.collide-images{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 20px;
}
.quick{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 45px;
/* font-style: normal; */
font-weight: 500;
/* line-height: normal; */
}
.of{
    color: var(--Dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
/* font-style: normal; */
font-weight: 700;
/* line-height: normal; */
}
.features{
    color: #FF900E;
font-family: Work Sans;
font-size: 45px;
/* font-style: normal; */
font-weight: 700;
/* line-height: normal; */
}
.second-description{
    padding-right: 70px;
    padding-left: 70px;
}
/* .collide-images-container{
    margin: 20px auto;
    padding: 100px;
} */
/* .collide-images img{
    max-width: 342px;
    max-height: 342px;
} */

/* Achievement section */
.achivements{
    display: flex;
    justify-content: space-around;
}
.four-achivement{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 20px;
}
.card-title{
    color: var(--Dark-02, #424242);
    font-family: Work Sans;
    font-size: 45px;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: normal; */
}
.card-p{
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 20px;
/* font-style: normal; */
font-weight: 600;
/* line-height: normal; */
}
.some-facts-title{
    color: var(--Dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
/* font-style: normal; */
font-weight: 700;
/* line-height: normal; */
}
.some-facts-p{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: 26px; 
}
.some-facts-description{
    margin-left: 70px;
    margin-bottom: 60px;
}
.some-facts{
    margin-top: 100px;
}




/* responsive for mobile devices */
@media screen and (max-width: 576px){
    .header{
        padding: 20px;
    }
.nav, .collide-images-container{
    flex-direction: column;
    margin-left: none;
}
.collide-images{
grid-template-columns: 1fr;
}
.achivements{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
}

/* Responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px){
    .header{
        padding: 30px;
    }
    .nav{
        flex-direction: column;
    }
    .collide-images-container{
        flex-direction: column;
    }
    .second-description{
        margin-top: 20px;
    }
    .achivements{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    }
    
}